@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Montserrat:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-domine: "Domine", serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* Colors */
  --color-gray-1: #f7f7f7;
  --color-gray-2: #e0e0e0;
  --color-gray-3: #c8c8c8;
  --color-gray-4: #a8a8a8;
  --color-gray-5: #888888;
  --color-gray-6: #6B6B6B;
  --color-gray-7: #444444;
  --color-gray-8: #2a2a2a;
  --color-gray-9: #141414;
}

 /* Color Gradients SplashScreen */
 @layer utilities {
    .bg-splash {
    background: linear-gradient(to top, #141414, #6B6B6B);
    }
  }