@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Montserrat:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-domine: "Domine", serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* Gray Colors */
  --color-gray-1: #fff;
  --color-gray-2: #e0e0e0;
  --color-gray-3: #c8c8c8;
  --color-gray-4: #a8a8a8;
  --color-gray-5: #888888;
  --color-gray-6: #6B6B6B;
  --color-gray-7: #444444;
  --color-gray-8: #2a2a2a;
  --color-gray-9: #141414;

  /* BG Colors */
  --color-bg-1: #F7F0E7;
}

 /* Color Gradients SplashScreen */
 @layer utilities {
    .bg-splash {
    background: linear-gradient(to top, #141414, #6B6B6B);
    }
     .bg-app {
       background-color: var(--color-bg-1);
     }
    /* Design system buttons */
    .btn {
      @apply inline-flex items-center justify-center gap-2 py-3 px-4 rounded-lg font-semibold transition-colors duration-200;
    }

    .btn-primary {
      @apply text-gray-9;
      background: linear-gradient(90deg, #FEC960 0%, #E7962B 100%);
      box-shadow: 0 4px 0 rgba(146, 77, 3, 1.0);
      border-radius: 12px;
      color: #141414;
      border: none;
      font-size: 20px;
      font-weight: 600;
    }

    .btn-secondary {
      @apply inline-flex items-center gap-1 rounded-xl px-3 py-2 font-semibold transition duration-200;
      background: linear-gradient(90deg, #FFF5E5  0%, #FFE2C4 100%);
      box-shadow: 0 4px 0 rgba(199, 170, 139, 1);
      border-radius: 12px;
      color: #141414;
      border: none;
      font-size: 20px;
      font-weight: 600;
    }

   
    .btn-success {
      @apply inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold transition duration-200;
      background: linear-gradient(90deg, #538A78 0%, #1E4639 100%);
      box-shadow: 0 4px 0 rgba(15, 63, 47, 1.0);
      border-radius: 12px;
      color: #ffffff;
      border: none;
    }

    .btn-success:hover {
      background-color: #338a5c;
    }

     .btn-fail {
      @apply inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold transition duration-200;
      background: linear-gradient(90deg, #8D2727 0%, #461E1E 100%);
      box-shadow: 0 4px 0 rgba(54, 12, 12, 1.0);
      border-radius: 12px;
      color: #ffffff;
      border: none;
    }

  
  }

